.aptastify-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  padding: 40px !important;
  height: 100%;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  gap: 0.5rem;

  &__description {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    display: flex;
  }

  &__job-title {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    text-align: flex-start;
    font-weight: 600;
    margin: 0;

    p {
      margin: 0;
    }
  }

  &__name {
    display: flex;
    width: 100%;
    font-size: 1rem;
    text-align: flex-start;
    font-weight: 400;

    p {
      margin: 0;
      color: var(--primary);
    }
  }
}
