<form
  class="aptastify-form"
  [formGroup]="formGroup()!"
  (ngSubmit)="onSubmit($event)"
  [style.flex-direction]="direction()"
  [style.gap]="gap()"
>
  @for (input of inputs(); track input.label) {
  <aptastify-input
    [label]="input.label ?? ''"
    [placeholder]="input.placeholder"
    [type]="input.type"
    [required]="input.required"
    [icon]="input.icon ?? ''"
    [formControlName]="input.formControlName"
  />
  }

  <div class="aptastify-form__actions">
    @for (button of buttons(); track button.text) {
    <aptastify-button
      [text]="button.text"
      (onClick)="button.handler()"
      [type]="button.type ?? 'submit'"
      [reverse]="button.reverse ?? false"
      [icon]="button.icon ?? ''"
      [iconPosition]="button.iconPosition ?? 'left'"
      [color]="button.color ?? 'var(--primary)'"
    />
    }
  </div>
</form>
