// SCSS variables
$primary:#3FB24A;
$secondary:#0C253A;
$enamel:#E8F7E9;
$grey:#A0B2BC;
$white:#FFFFFF;

// CSS custom properties (for use in components)
:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --enamel: #{$enamel};
  --grey: #{$grey};
  --white: #{$white};
}
