@font-face {
  font-family: "circular-medium";
  src: url("/assets/fonts/CIRCULAR-STD-MEDIUM-500.TTF");
}

@font-face {
  font-family: "circular-bold";
  src: url("/assets/fonts/CIRCULARSTD-BOLD.TTF");
}

@font-face {
  font-family: "circular-book";
  src: url("/assets/fonts/CIRCULARSTD-BOOK.TTF");
}

@font-face {
  font-family: "circular-black";
  src: url("/assets/fonts/CIRCULARSTD-BLACK.TTF");
}


