<div class="aptastify-home">
  <aptastify-hero [signup]="signup" [redirectToShopify]="redirectToShopify" />
  <aptastify-instruction-card-grid
    [cards]="cards"
    [featureImage]="featureImage"
  />
  <aptastify-recipe-card-grid [recipes]="recipes" />
  <aptastify-product-card-grid [products]="products" />
  <aptastify-rich-text />
  <aptastify-email-signup
    #emailSignupSection
    [title]="'Coming Soon:'"
    [subtitle]="'APTastify App'"
    [description]="
      'Track orders, upload recipes, and manage referrals—all from your phone. Plus, get fresh recipes,platform updates, and exclusive paste drops delivered straight to your inbox.'
    "
    [backgroundImage]="'/assets/images/group.png'"
    [formGroup]="formGroup"
    [inputs]="inputs"
    [primaryButtonText]="'Get Started'"
    [buttons]="buttons"
    (formSubmit)="onFormSubmit($event)"
  />
  <aptastify-info-card-grid
    [title]="'What Our Users Say'"
    [cards]="infoCards"
  />
  <aptastify-near-me-map />
  <aptastify-footer />
  <aptastify-popup />
</div>
