<section class="aptastify-near-me-map">
  <div class="aptastify-near-me-map__container">
    <div class="aptastify-near-me-map__container__title">
      <h2>APTastify Near Me</h2>
      <div  class="aptastify-near-me-map__container__title__button">
        <aptastify-button [reverse]="true" [text]="'Browse All Cities'"/>
      </div>
    </div>
    <div class="aptastify-near-me-map__container__map">
      <img src="assets/images/map.png" alt="map" />
    </div>
    <ul class="aptastify-near-me-map__container__list">
      <li class="aptastify-near-me-map__container__list__item">
        <ul>
          <li>Ottawa</li>
          <li>Edmonton</li>
          <li>Victoria</li>
          <li>Winnipeg</li>
        </ul>
      </li>
      <li class="aptastify-near-me-map__container__list__item">
        <ul>
          <li>Toronto</li>
          <li>Quebec City</li>
          <li>Halifax</li>
          <li>St. John's</li>
        </ul>
      </li>
      <li class="aptastify-near-me-map__container__list__item">
        <ul>
          <li>Montreal</li>
          <li>Calgary</li>
          <li>Vancouver</li>
          <li>Regina</li>
        </ul>
      </li>
      <li class="aptastify-near-me-map__container__list__item">
        <ul>
          <li>Mississauga</li>
          <li>Brampton</li>
          <li>Saskatoon</li>
          <li>Kitchener</li>
        </ul>
      </li>
    </ul>
  </div>
</section>

