<div class="aptastify-hero">
  <div class="aptastify-hero__content">
    <div class="aptastify-hero__content-text">
      <h1 class="aptastify-hero__content-text-title">
        Discover the best recipes for your taste
      </h1>
      <p class="aptastify-hero__content-text-description">
        Find the perfect recipe for any occasion.
      </p>
    </div>
    <div class="aptastify-hero__content__image">
      <img src="/assets/images/phone-img.png" alt="Hero Image" />
    </div>
  </div>
</div>
