@use "../../../styles/index.scss" as *;

.aptastify-instruction-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 350px;
  gap: 1rem;
  //justify-content: center;
  //font-family: "circular-bold";

  &__icon-img {
    @media (max-width: $breakpoint-mobile) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .aptastify-instruction-card__title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "circular-bold";
    color: black;
    border-bottom: 3px solid var(--enamel);

    @media (max-width: $breakpoint-mobile) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .aptastify-instruction-card__content {
    font-size: 1rem;
    color: var(--grey);
    font-family: "circular-book" !important;
    width: 50%;

    @media (max-width: $breakpoint-mobile) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
  }
}
