<div class="aptastify-footer">
  <div class="aptastify-footer__logo">
    <div class="aptastify-footer__logo-container">
      <aptastify-logo [reverse]="true" />
    </div>
    <p>
      APTastify is a global recipe and paste commerce platform built for chefs,
      food creators, and culinary startups. Powered by Shopify, APTastify
      enables users to share original recipes, earn through referrals, and order
      high-quality culinary pastes from around the world. From B2B sourcing to
      home kitchen inspiration—APTastify brings flavor and community together.
    </p>
    <p>©2025 APTastify. All copyrights reserved.</p>
  </div>

  <div class="aptastify-footer__links">
    <div class="aptastify-footer__links-container">
      <h2>Platform</h2>
      <a href="#">How it works</a>
      <a href="#">Recipes</a>
      <a href="#">Contributors</a>
      <a href="#">Shop</a>
    </div>
    <div class="aptastify-footer__links-container">
      <h2>Support</h2>
      <a href="#">Help Center</a>
      <a href="#">Contact Us</a>
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
    </div>
    <div class="aptastify-footer__links-container">
      <h2>Social Media</h2>
      <div class="aptastify-footer__links-container__social-icon-container">
        <aptastify-icon-button
          src="assets/images/icons/instagram.png"
          alt="instagram"
        />
        <aptastify-icon-button
          src="assets/images/icons/twitter.png"
          alt="twitter"
        />
      </div>

      <!-- <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Cookie Settings</a> -->
    </div>
  </div>
</div>
