@use "../../../styles/index.scss" as *;

.aptastify-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  padding: 1rem 5rem;
  font-family: "circular-book";
  color: var(--white);
  min-height: 350px;
  gap:5rem;
  height:auto;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    flex-flow: column-reverse;;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    height: 100%;

    @media (max-width: $breakpoint-mobile) {
      width:100%;
      height:auto;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2rem;
    height: 100%;

    @media (max-width: $breakpoint-mobile) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width:100%;
      gap:0;
      padding:0;
      margin:0;
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1rem;
      min-height: 200px;
      position: relative;
      top:35px;
      @media (max-width: $breakpoint-mobile) {
        top:0;
        min-height:0;
      }
      &__social-icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        @media (max-width: $breakpoint-mobile) {
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
    }

    a {
      color: var(--white);
      text-decoration: none;
      font-size: 1rem;
      font-weight: 200;
      font-family: "circular-book";
    }
    a:hover {
      color: var(--secondary);
    }
  }
}
